@model SocialNetwork.WEB.ViewModels.UserRegisterViewModel;

@{
    ViewData["Title"] = "Registration";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post" asp-controller="Account" asp-action="Register">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label for="Name">Name</label>
        <input autocomplete="off" type="text" class="form-control" asp-for="Name" placeholder="Name">
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "validation" })
    </div>

    <div class="form-group">
        <label for="Surname">Surname</label>
        <input autocomplete="off" type="text" class="form-control" asp-for="Surname" placeholder="Surname">
        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "validation" })
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input autocomplete="off" type="text" class="form-control" asp-for="Email" placeholder="youremail@email.com">
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation" })
    </div>

    @*<div class="form-group">
        <label for="Birthday">Birthday</label>
        <input type="date" class="form-control" asp-for="Birthday">
        @Html.ValidationMessageFor(m => m.Birthday, "", new { @class = "validation" })
    </div>*@


    <div class="form-group">
        <label for="Password">Password</label>
        <input autocomplete="off" type="password" class="form-control" asp-for="Password" placeholder="********">
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation" })
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" asp-for="PasswordConfirm" placeholder="********">
        @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "validation" })
    </div>


    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" id="registerBtn">Register</button>
    </div>
</form>